<div class="row">
    <div class="col-lg-1"></div>
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1>-<h3>(Years)</h3><style>h3{color:white;}</style> </li>
            <style>h1{color:white;}</style>
            <style>p{color:white ;}</style><p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil vel aut laborum repellat tenetur molestias ex excepturi fuga! Aperiam quis perferendis autem id possimus, repellat labore voluptate soluta voluptas corrupti! </p>
        </ul> 
        <ul>
            <li><h1>Estudio 2</h1>-<h3>(Years)</h3><style>h3{color:white;}</style> </li>
            <style>h1{color:white;}</style>
            <style>p{color:white ;}</style><p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil vel aut laborum repellat tenetur molestias ex excepturi fuga! Aperiam quis perferendis autem id possimus, repellat labore voluptate soluta voluptas corrupti! </p>
        </ul> 
        <ul>
            <li><h1>Estudio 3</h1>-<h3>(Years)</h3><style>h3{color:white;}</style> </li>
            <style>h1{color:white;}</style>
            <style>p{color:white ;}</style><p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil vel aut laborum repellat tenetur molestias ex excepturi fuga! Aperiam quis perferendis autem id possimus, repellat labore voluptate soluta voluptas corrupti! </p>
        </ul> 
    </div>
</div>