<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PerfilPhoto.jpg" 
        class="img-fluid" id="fotodeperfil"> 
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="Nombre"> Cristian Gabriel Romero</p>
        <p>
        Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
        <style>p{color:white ;}</style>
            <h1>Acerca de mí</h1>
            <style>h1{color:white;}</style>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, labore quam. Nulla consectetur officia alias accusantium hic vitae autem deserunt cumque laudantium nam eum, architecto, iste ut illo porro sequi.</p>
            
        </span>
    </div>
</div>